include ../../share/common

doctype html
html(manifest="/buzz.appcache")
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge, chrome=1")
    meta(name="viewport", content="width=375, user-scalable=no")
    title='Buzzbuzz English'
    + css("/public/css/style.min.css")
body
    style.
        .init {
            display: none;
        }

        body {
            margin: 0px;
        }

        .body {
            width: 375px;
            position: relative;
            margin: 0 auto;
        }

        .hidden {
            visibility: hidden;
        }

        .column {
            display: inline-block;
        }

        .row.special {
            height: 10rem;
        }

        .row {
            display: block;
            position: relative;
            width: 375px;
        }

        .row .box {
            width: 21.5rem;
            margin-left: auto;
            margin-right: auto;
            padding-left: 0.5rem;
            padding-right: 0.5rem;
        }

        .row.blank {
            width: 21.5rem;
            height: 1rem;
        }

        .process-head {
            text-align: left;
            border-left: 4px solid #f9b600;
            font-size: 0.9rem;
            height: 1rem;
            line-height: 1rem;
        }

        .process-content {
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
            border-top: 2px solid #f9b600;
            border-bottom: 1px solid #cccccc;
            border-left: 1px solid #cccccc;
            border-right: 1px solid #cccccc;
        }

        .chart,
        .learn,
        .calander {
            display: inline-block;
            text-align: center;
        }

        .calander {
            height: 3rem;
            line-height: 3rem;
        }

        .expand-calander {
            line-height: 2rem;
        }

        .expand-chart.left {
            font-size: 0.85rem;
            line-height: 2.5rem;
            height: 2.5rem;
            width: 85%;
            display: inline-block;
            vertical-align: top;
        }

        .expand-chart.small.left {
            font-size: 0.75rem;
            line-height: 2.5rem;
            height: 2.5rem;
            width: 55%;
            display: inline-block;
            vertical-align: top;
        }

        .expand-calander.left {
            font-size: 1.5rem;
            line-height: 2.5rem;
            height: 2.5rem;
            width: 85%;
            display: inline-block;
            vertical-align: top;
        }

        .expand-chart.right,
        .expand-calander.right {
            height: 2.5rem;
            line-height: 2.5rem;
            width: 15%;
            display: inline-block;
            vertical-align: top
        }

        .expand-chart.small.right {
            height: 2.5rem;
            line-height: 2.5rem;
            font-size: 0.75rem;
            width: 45%;
            display: inline-block;
            vertical-align: top;
            text-align: right;
        }

        .expand-chart.row,
        .expand-calander.row {
            width: 100%;
        }

        .expand-calander.unit {
            width: 14.25%;
            text-align: center;
        }

        .expand-calander.unit.invalid {
            color: #bbbbbb;
        }

        .expand-calander.unit.current {
            color: #f9b600;
        }

        .expand-calander.unit.bad {
            color: #ff0000 !important;
        }

        .expand-calander.unit.good {
            color: #f9b600 !important;
        }

        .expand-calander.unit.good.now {
            color: white !important;
        }

        .expand-calander.unit.none {
            color: #3366ff !important;
        }

        .expand-calander.unit.none.now {
            color: black !important;
        }

        .expand-calander.unit.now {
            color: black;
            background-color: #f9b600;
        }

        .learn {
            height: 5rem;
            font-size: 0.85rem;
            vertical-align: top;
            padding-left: 0.5rem;
            padding-right: 0.5rem;
        }

        .chart {
            height: 3rem;
            line-height: 3rem;
        }

        .chart.left {
            width: 15rem;
            font-size: 0.85rem;
            border-right: 1px solid #cccccc;
        }

        .chart.right {
            width: 6.4rem;
        }

        .chart img {
            width: 1.56rem;
        }

        .learn .content {
            text-align: left;
        }

        .learn .text-content {
            height: 5rem;
            line-height: 2rem;
        }

        .learn img {
            width: 1.2rem;
            margin-left: 0.1rem;
            margin-right: 0.1rem;
        }

        .learn.left {
            width: 6rem;
            border-right: 1px solid #cccccc;
        }

        .learn.middle {
            width: 6rem;
            border-right: 1px solid #cccccc;
        }

        .learn.right {
            width: 6rem;
        }

        .calander.left {
            width: 16rem;
            font-size: 0.85rem;
            border-right: 1px solid #cccccc;
        }

        .calander.right {
            width: 5.4rem;
        }

        .calander img {
            width: 1.56rem;
        }

        .valign-middle {
            vertical-align: middle;
        }

        .font.grey {
            color: #cccccc;
        }

        .font.black {
            color: #333333;
        }

        .font.orange {
            color: #f9b600;
        }

        .account.column {
            width: 16%;
            display: inline-block;
            vertical-align: top;
        }

        .account.column .head {
            margin-top: 3rem;
            height: 2rem;
            line-height: 2rem;
        }

        .pic.column {
            width: 36%;
            display: inline-block;
        }

        .pic.column .img {
            height: 7rem;
            line-height: 7rem;
            text-align: center;
        }

        .pic.column .img img {
            width: 80%;
            border-radius: 50%;
            vertical-align: middle;
        }

        .pic.column .text {
            text-align: center;
        }

        .account {
            height: 9rem;
            font-size: 0.9rem;
            text-align: center;
        }

        .bold {
            font-weight: bold;
        }

        .chart-box {
            position: absolute;
        }

        .chart-box {
            position: absolute;
            z-index: 20;
        }

        .chart-box .part {
            position: absolute;
            overflow: hidden;
            width: calc(50% + 1px);
            height: 50%;
            z-index: 20;
        }

        .chart-box .part .shape {
            position: absolute;
            width: calc(200% - 4px);
            height: calc(200% - 4px);
            border: 2px solid #3366ff;
            border-radius: 50%;
        }

        .chart-box.down .part.left {
            left: 0%;
            top: 0%;
        }

        .chart-box.down .part.right {
            left: calc(50% - 1px);
            top: 50%;
        }

        .chart-box.down .left.part .shape {
            top: 0%;
            left: -100%;
        }

        .chart-box.down .right.part .shape {
            top: -100%;
            left: 0%;
        }

        .chart-box.up .part.left {
            top: 50%;
            left: 0%;
        }

        .chart-box.up .part.right {
            top: 0%;
            left: calc(50% - 1px);
        }

        .chart-box.up .left.part .shape {
            top: -100%;
            left: -100%;
        }

        .chart-box.up .right.part .shape {
            top: 0%;
            left: 0%;
        }

        .chart-box:after,
        .chart-box:before {
            content: "";
            display: block;
            position: absolute;
            background-color: #3366ff;
            width: 2px;
            height: 2px;
            border-radius: 50%;
            border: 2px solid #3366ff;
            z-index: 20;
        }

        .chart-box.down:before {
            top: -2px;
            left: -2px;
        }

        .chart-box.down:after {
            top: calc(100% - 4px);
            left: calc(100% - 2px);
        }

        .chart-box.up:before {
            top: calc(100% - 4px);
            left: -2px;
        }

        .chart-box.up:after {
            top: -2px;
            left: calc(100% - 2px);
        }

        .chart-box.eval:before {
            top: -3px;
            left: -2px;
        }

        .chart-box.eval:after {
            top: -3px;
            left: calc(100% - 2px);
        }

        .chart-box.eval {
            border: 1px solid #3366ff;
            height: 0px;
        }

        .chart-box.eval .left.part {
            display: none;
        }

        .chart-box.eval .right.part {
            display: none;
        }

        .chart-element {
            position: absolute;
        }

        .chart-element.row {
            border: 1px solid #cccccc;
            height: 0px;
        }

        .chart-element.column {
            border: 1px solid #cccccc;
            width: 0px;
        }

        .chart-element.row-text.right,
        .chart-element.row-text.left {
            font-size: 0.65rem;
            width: 1rem;
            text-align: right;
        }

        .chart-element.row-text.right {
            left: 20rem;
        }

        .chart-element.column-text {
            font-size: 0.65rem;
            width: 3rem;
            text-align: left;
        }

        .chart-main .chart-box {
            width: 3.6rem;
        }

        .chart-bar {
            width: 1rem;
            background-color: #f9b600;
            position: absolute;
            z-index: 5;
        }
    .body(ng-app="buzzProgressModule", ng-controller="calendarParentCtrl").init
        .row.special(id="profile")
            .box(ng-controller="myPerformanceCtrl")
                .account.column
                    .text.head.font.black Level
                    .text.content.font.black.bold {{currentLevel}}
                .account.column
                    .text.head.font.black Lesson
                    .text.content.font.black.bold {{lessonCount}}
                .pic.column
                    .img
                        img(ng-src=`{{profile.avatar || '${config.cdn}/public/images/default_avatar.png?${config.imageversion}'}}`)
                    .text(ng-bind="profile.real_name")
                .account.column
                .account.column
                    .text.head.font.black
                        img(ng-src=`${config.cdn}/public/images/points.png?${config.imageversion}`)
                    .text.content.font.black.bold {{totalScore || 188}}
                .account.column(ng-show="false")
                    .text.head.font.black
                        img(ng-src=`${config.cdn}/public/images/medal.png?${config.imageversion}`)
                    .text.content.font.black.bold 5
        .row
            .box.process-head 练习打卡日历
        .row.blank
        .row(ng-controller="calendarCtrl")
            .box.process-content(ng-if="!expanded")
                .calander.left(ng-controller="myBuzzCtrl")
                    span.font.grey 你来到 Buzzbuzz 已有：
                    span.font.black {{buzzDays | number : 0}} {{Math.floor(buzzDays) > 1 ? 'Days': 'Day'}}
                .calander.right(ng-click="expandContent(true)")
                    img.valign-middle(src=`${config.cdn}/public/images/calander.png?${config.version}`)
            .box.process-content(ng-if="expanded")
                .expand-calander.row
                    .expand-calander.left.font.orange {{current | date: 'MMM, yyyy'}}
                    .expand-calander.right(ng-click="expandContent(false)")
                        img.valign-middle(style="width:1.86em",src=`${config.cdn}/public/images/calander_off.png?${config.version}`)
                .expand-calander.row.blank
                .expand-calander.row.blank
                .expand-calander.row(style="color: #999999;")
                    -
                        var list = [ "一", "二", "三", "四", "五", "六", "日"]
                    each item in list
                        .expand-calander.unit.column(style="font-family: '微软雅黑', 'Microsoft YaHei';")= item
                .expand-calander.row.blank
                .expand-calander.row(ng-repeat="week in extendedweekdays")
                    .expand-calander.unit.column(ng-repeat="day in week", ng-class="{'invalid': !day.iscurrentmonth,'now': day.istoday,'good': performances[$parent.$index][$index]=='good','bad': performances[$parent.$index][$index]=='bad','none':performances[$parent.$index][$index]=='none'}") {{day.date.getDate()}}
                    .expand-calander.row.blank
                .expand-calander.row.blank
        .row.blank
        .row.blank
        .row
            .box.process-head 本周进度
        .row.blank
        .row
            .box.process-content
                .learn.left
                    .title 练习全对
                    .content(ng-show='weekPerformance.good<=7')
                        img(src=`${config.cdn}/public/images/correct.png?${config.imageversion}`, ng-repeat="i in [].constructor(weekPerformance.good) track by $index")
                    .max-7(ng-show='weekPerformance.good>7')
                        span {{weekPerformance.good}}
                        img(src=`${config.cdn}/public/images/correct.png?${config.imageversion}`)
                .learn.middle
                    .title 练习有错
                    .content(ng-show='weekPerformance.bad<=7')
                        img(src=`${config.cdn}/public/images/wrong_1.png?${config.imageversion}` ng-repeat="i in [].constructor(weekPerformance.bad) track by $index")
                    .max-7(ng-show='weekPerformance.bad>7')
                        span {{weekPerformance.bad}}
                        img(src=`${config.cdn}/public/images/wrong_1.png?${config.imageversion}`)
                .learn.right
                    .title 系统排名
                    .text-content {{rank||99}}
        .row.blank
        .row.blank
        div()
            .row
                .box.process-head 历史曲线
            .row.blank
            .row(ng-controller="chartCtrl")
                .box.process-content(ng-if="!expanded")
                    .chart.left
                        span.font.grey 你已累计学习了
                        span.font.black {{totalWord}}个
                        span.font.grey 单词
                    .chart.right(ng-click="expandContent(true)")
                        img.valign-middle(src=`${config.cdn}/public/images/chart.png?${config.imageversion}`)
                .box.process-content(ng-if="expanded")
                    .expand-chart.row
                        .expand-chart.left.font.orange
                            span.font.grey 你已经累计学习了
                            span.font.black {{totalWord}}
                            span.font.grey 个单词
                        .expand-chart.right(ng-click="expandContent(false)")
                            img.valign-middle(style="width:1.6em",src=`${config.cdn}/public/images/chart_off.png?${config.imageversion}`)
                    .expand-chart.row
                        .expand-chart.small.left.font.orange
                            img(style="vertical-align:middle;width:1.5rem",src=`${config.cdn}/public/images/mini_bar.png?${config.imageversion}`)
                            span.font.grey 你累计学习单词词量：个/周
                        .expand-chart.small.right
                            img(style="vertical-align:middle;width:1.5rem",src=`${config.cdn}/public/images/mini_chart.png?${config.imageversion}`)
                            span.font.grey 系统整体排名：名/周
                    .expand-chart.row
                        .chart-main(style="height: 13rem;")
                            .chart-element.column(style="left: 1.5rem;height: 11rem;")
                            .chart-element.row(style="top: 11rem;left: 1.5rem;width: 18rem;")
                            .chart-element.column(style="left: 19.5rem;height: 11rem;")
                            - for (var x = 0; x < 5; x++)
                            .chart-element.row-text.left(style=`top: ${0.7 + x*2.5}rem`)= 200 - 50 * x
                            - for (var x = 0; x < 5; x++)
                            .chart-element.row-text.right(style=`top: ${0.7 + x*2.5}rem`)= 100 - 25 * x + '%'
                            - for (var x = 0; x < 5; x++)
                            .chart-element.row(style=`top: ${1 + x*2.5}rem;left:1.5rem;width:0.5rem;`)
                            - for (var x = 0; x < 5; x++)
                            .chart-element.row(style=`top: ${1 + x*2.5}rem;left:19rem;width:0.5rem;`)
                            -
                                var list = ["第一周", "第二周", "第三周", "第四周", "第五周"]
                            each item, index in list
                                .chart-element.column-text(style=`top: 11.5rem;left:${2.5 + 3.6*index}rem`)= item
                            - for (var x = 0; x < 4; x++)
                            .chart-element.column(style=`top: 10.5rem;left:${5.1+3.6*x}rem;height:0.5rem;`)
                            .chart-box(ng-repeat="chartdata in m_linedata", ng-class="chartdata.shapeClass", style="left:{{3.6+$index*3.6}}rem;top:{{(100-chartdata.point)/10+1}}rem;height:{{chartdata.height/10}}rem;")
                                .part.left
                                    .shape
                                .part.right
                                    .shape
                            .chart-bar(ng-repeat="bardata in data[1] track by $index", style="left: {{3+$index*3.6}}rem;top:{{11-bardata/200*10}}rem;height:{{bardata/200*10}}rem;")
        .row.blank
        .row.blank
        .row.blank
        .row.blank
        .row.blank
    include ../tail.pug
    + tailcontent(false, true, false, false)
    include ../../js
    + js("/node_modules/chart.js/dist/Chart.js")
    + js("/node_modules/angular-chart.js/dist/angular-chart.min.js")
    + js("/js/quizModule.min.js")
    + js("/js/DateModule.min.js")
    + js("/node_modules/moment/min/moment.min.js")
    + js("/js/buzzProgressModule.min.js")
    + js("/js/buzzHeaderModule.min.js")
    script.
        Array.from(document.getElementsByClassName("init")).forEach(function (ele) {
            ele.className = ele.className.replace(/(^|\s)init($|\s)/, ' ')
        });
